@mixin widthnheight {
    max-width: 1200px;
    min-height: 30vh;
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.Selector {
    @include widthnheight;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .3s linear;
    gap: 20px;
}

.inputwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.searchwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.inputwrapper input {
    border: none;
    outline: none;
    width: 250px;
    height: 40px;
    font-size: 20px;
}

select {
    border: none;
    outline: none;
    width: 250px;
    height: 40px;
    font-size: 20px;
}

.Selector p {
    font-size: 24px;
}

.Categories {
    color: blue;
    padding: 15px;
    &:hover {
        border: 1px solid blue;
    }
}

// Selector section end
.popular-categories {
    @include widthnheight;
    // position: absolute;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    margin-top: 20px;
    padding: 20px;
}

.popular-categories h2 {
    font-size: 24px;
}

.categorieswrapper {
    max-width: 1200px;
    width: 100%;
    min-height: 25vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px;
    gap: 10px;
    grid-template-rows: 120px 120px;
}

.categorycard {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    border: 1px solid white;
    width: 250px;
    height: 80px;
    padding: 30px;
    transition: .1s linear;
    &:hover {
        border: 1px solid green;
    }
    &:hover b {
        color: green;
        text-decoration: underline;
    }
}

.categorycard b {
    font-size: 24px;
    font-weight: 100;
    transition: .1s linear;
}

.categorycard span {
    background: #E6F3FF;
    color: #0A8CFF;
    padding: 4px 4px;
}

.categorycard p {
    color: #8b8b8b;
}

// Popular end
.listingsection {
    max-width: 1200px;
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-listing {
    font-size: 16px;
}

//listing header end
.listingwrapper {
    width: 100%;
    max-width: 1200px;
    min-height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}

.cardbox {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    max-width: 1200px;
    transition: .1s linear;
    &:hover {
        border: 1px solid #00D363;
    }
}

.listingcard {
    display: flex;
    align-items: center;
}

.imgcont {
    width: 50px;
    height: 50px;
    margin: 20px;
}

.proff-details {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    gap: 10px;
}

.proffesiondetails {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.applydetails {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.likeicon {
    padding: 10px;
    margin: 10px;
    border: 1px solid white;
    color: #00D363;
    border-radius: 6px;
    &:hover {
        background-color: #00D363;
        color: white;
        border: 1px solid #00D363;
    }
}

.bdate {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.proff-details strong {
    font-size: 22px;
}

.proff-details p {
    color: rgb(160, 160, 160);
}

.date {
    color: rgb(160, 160, 160);
}

// Listing Jobs section ended
.Featured {
    @include widthnheight;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.ftrdcandidates h2 {
    font-size: 36px;
}

.circlewrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.resumecircle {
    max-width: 200px;
    min-height: 20vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    &:hover b {
        color: #00D363
    }
}

.resumecircle img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 5px;
}

.resumecircle b {
    font-size: 20px;
    transition: .1s linear;
}

.resumecircle p {
    font-size: 16px;
    color: rgb(160, 160, 160);
}

.nexticonl {
    display: grid;
    place-items: center;
    color: #0A8CFF;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10%;
    border-radius: 50%;
    transition: .1s linear;
    &:hover {
        color: white;
        background-color: #0A8CFF;
    }
}

.nexticonr {
    display: grid;
    place-items: center;
    color: #0A8CFF;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10%;
    border-radius: 50%;
    transition: .1s linear;
    &:hover {
        color: white;
        background-color: #0A8CFF;
    }
}

// Featured end
.topcompanies {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 30px;
}

.topcompanycardwrapper {
    display: flex;
    justify-content: center;
    align-items: start;
}

.topcompanycard {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.topcompanycard img {
    width: 100px;
    height: 100px;
    margin: 5px;
}

.topcompanytitle {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.categorycardtop {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    border: 1px solid white;
    width: 250px;
    height: 80px;
    padding: 30px;
    margin-bottom: 50px;
}

.categorycardtop b {
    font-size: 24px;
    font-weight: 100;
    transition: .1s linear;
}

.categorycardtop span {
    background: #E6F3FF;
    color: #0A8CFF;
    padding: 4px 4px;
}

.categorycardtop p {
    color: #8b8b8b;
}

//top company end
.firstoption:hover .nese {
    display: flex;
}

.thirdfootersection {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 3 0px;
    max-width: 500px;
}

.mail {
    position: relative;
}

.containerfortext {
    margin-bottom: 40px;
}

.containerfortext h3 {
    font-size: 20px;
    color: white;
}

.mail input {
    outline: none;
    width: 350px;
    height: 50px;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid grey;
}

.subscribe {
    display: grid;
    place-items: center;
    width: 90px;
    height: 40px;
    background-color: #00D363;
    border-radius: 5px;
    position: absolute;
    color: white;
    right: 2%;
    top: 5px;
}